<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="no-referrer">
  <title>抖音广告数据</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./style.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="./websocket.js"></script>
</head>
<!--token 725746d242425b8942088f56a3a8d836 -->
<body>
  <div id="app">

    <div v-show="activeName == 'first'">
      <el-tooltip content="只看今天的数据" placement="top">
        <div style="position:absolute;right:20px;top:16px;z-index:1000">
          <span style="font-size:12px;color:#909399;position: relative;top:1px;"> {{today == '0'?'全部数据':'今天数据'}}</span>
          <el-switch v-model="today" active-color="#E6A23C" inactive-color="#409EFF" active-value="100"
            @change="changeDay" inactive-value="0">

          </el-switch>
        </div>

      </el-tooltip>
      <!-- multiple -->
      <el-select @change="changeTime" clearable size="small" style="position: absolute;
      right: 132px;
      top: 9px;
      z-index: 1000;
      height: 32px;" v-model="timeListValue" placeholder="请选择">
        <el-option v-for="item in timeList" :key="item.value" :label="item.text" :value="item.value">
        </el-option>
      </el-select>

      <el-button type="success" style="    position: absolute;
      right: 362px;
      top: 9px;
      z-index: 1000;
      height: 32px;" size="small" @click="expandStatusFun">
        <span v-show="expandStatus==false"><i class="el-icon-folder-opened" style="margin-right: 4px;"></i>展开全部</span>
        <span v-show="expandStatus==true"><i class="el-icon-folder" style="margin-right: 4px;"></i>折叠全部</span>
      </el-button>

      <el-button type="primary" style="position: absolute;
      right: 500px;
      top: 9px;
      z-index: 1000;
      height: 32px;" size="small" @click="loadImg">
        <span><i class="el-icon-search" style="margin-right: 4px;"></i>查询</span>
      </el-button>

    </div>

    <div v-show="activeName=='three'">
      <el-button type="success" style="position: absolute;
      right: 650px;
      top: 9px;
      z-index: 1000;
      height: 32px;" size="small" @click="clearData">
        <span><i class="el-icon-search" style="margin-right: 4px;"></i>清屏</span>
      </el-button>

      <el-tooltip content="只看在线的手机" placement="top">
        <div style="position:absolute;right:560px;top:16px;z-index:1000">
          <span style="font-size:12px;color:#909399;position: relative;top:1px;"> {{isOnline == '0'?'全部':'在线'}}</span>
          <el-switch v-model="isOnline" active-color="#E6A23C" inactive-color="#409EFF" active-value="100"
            @change="changeOnline" inactive-value="0">

          </el-switch>
        </div>
      </el-tooltip>
      <el-select @change="changeItemPhone" multiple clearable size="small" style="position: absolute;width: 500px;
      right: 32px;
      top: 9px;
      z-index: 1000;
      height: 32px;" v-model="socketValuePhone" placeholder="选择手机">
        <el-option v-for="item in modelList" :key="item.value" :label="item.text" :value="item.value">
        </el-option>
      </el-select>
    </div>




    <el-tabs v-model="activeName" @tab-click="handleClick">

      <el-tab-pane label="查看数据" name="first">
        <el-table v-loading="loadingData" ref="el_Table" :data="tableData" stripe style="width: 100%" show-summary
          :summary-method="getSummaries">
          <el-table-column type="expand">
            <template slot-scope="props">
              <!-- <el-table :data="props.row.successAdList" stripe style="width: 100%">
                <el-table-column prop="lastLookTime" align="center"  width="500" label="观看历史" column-key="lastLookTime"
                :filters="timeList" :filter-method="filterHandler">
                  <template scope="scope">
                    {{ timestampToTime(scope.row.lastLookTime) || '--' }}
                  </template>
                </el-table-column>
                
                <el-table-column prop="img" align="center" label="图片">
                  <template scope="scope">
                    <el-image fit="contain" :preview-src-list="[scope.row.img]"  v-if="scope.row.img" style="width: 200px;height: 180px;" :src="scope.row.img" alt="" srcset="">
                  </template>
                </el-table-column>
                <el-table-column prop="todayClickNum" align="center" sortable label="当日点击数量">
                </el-table-column>
              </el-table> -->
              <div style="display: flex;flex-wrap:wrap;height: 600px;overflow-y: auto;">
                <div v-for="(item,index) in props.row.successAdList" :key="index"
                  style="width: 250px;margin: 16px;position:relative;">

                  <div
                    style="font-size: 16px;background:#232832;color:#fff;padding:10px 10px 2px 10px;box-sizing:border-box;display: flex;justify-content: space-between;align-items: center;">
                    <span>{{ timestampToTime(item.lastLookTime) || '--' }}</span>
                    <span style="position:relative;top:-2px;"> {{item.downLoad? '已下载√': ''}}</span>
                  </div>
                  <div
                    style="font-size: 16px;background:#232832;color:#fff;padding:0px 10px 10px;display: flex;justify-content: space-between;">
                    <span>{{'当日观看: '+ item.todayLookNum }}</span>
                    <span>{{item.isClick? '已点击√': ''}}</span>
                  </div>
                  <!-- <div style="font-size: 16px;background:#333;color:#fff;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);width: 200px;
                  padding: 10px;
                  border-radius: 4px;
                  text-align: center;z-index:100">{{ timestampToTime(item.lastLookTime) || '--' }}</div> -->
                  <!-- <img style="width: 250px;object-fit: contain;" :src="item.download_url" alt="" srcset=""> -->
                  <el-image fit="contain" :preview-src-list="[item.img]" v-if="item.img" style="width: 250px;"
                    :src="item.img" alt="" srcset=""></el-image>
                </div>


              </div>
            </template>
          </el-table-column>
          <el-table-column prop="appName" align="center" label="小程序名称" width="180" :filters="appNameList"
            :filter-method="filterModelName">
          </el-table-column>
          <el-table-column prop="model" align="center" label="手机">
            <template scope="scope">
              {{ phoneIdToNameList[scope.row.phoneId] ? phoneIdToNameList[scope.row.phoneId] : scope.row.model }}
            </template>
          </el-table-column>
          <el-table-column prop="phoneId" align="center" label="手机ID" :filters="modelList" :filter-method="filterModel">
            
          </el-table-column>
          <el-table-column prop="lastLookTime" align="center" label="最近观看时间" sortable width="230" sortable
            column-key="lastLookTime" :filters="timeList" :filter-method="filterHandler">
            <template scope="scope">
              {{ timestampToTime(scope.row.lastLookTime) }}
            </template>

          </el-table-column>
          <!-- <el-table-column prop="img" align="center" label="图片" width="180">
            <template scope="scope">
              <el-image fit="contain" :preview-src-list="[scope.row.img]" v-if="scope.row.img" style="width: 160px;height: 80px;" :src="scope.row.img" alt="" srcset="">
            </template>
          </el-table-column> -->
          <!-- <el-table-column align="center" prop="main"  label="主体">
          </el-table-column> -->
          <el-table-column align="center" prop="ip" width="150" label="IP地址">
            <template scope="scope">
              {{ scope.row.ip ? scope.row.ip.split("--")[0] :"" }}
            </template>
          </el-table-column>
          <el-table-column align="center" prop="ip" label="IP归属地" width="150">
            <template scope="scope">
              {{ scope.row.ip ? scope.row.ip.split("--")[1] : '' }}
            </template>
          </el-table-column>
          <el-table-column prop="todayLookNum" align="center" sortable label="当日观看数量">
          </el-table-column>
          <el-table-column prop="todayClickNum" align="center" sortable label="当日点击数量">
          </el-table-column>
          <el-table-column prop="clickNumTotal" align="center" sortable label="总点击数量">
          </el-table-column>
          <el-table-column prop="todayDownLoad" align="center" sortable label="当日下载">
          </el-table-column>
          <el-table-column prop="downLoadTotal" align="center" sortable label="总下载">
          </el-table-column>
          <el-table-column prop="lookAdTotal" align="center" sortable label="总数量">
          </el-table-column>

        </el-table>
      </el-tab-pane>

      <el-tab-pane label="实时查看" name="three">
        <div class="phoneWrap"
          style="min-height:80vh;display: flex;flex-wrap: wrap;justify-content: flex-start;padding: 20px">
          <div class="item" v-if="item.display" v-for="(item,index) in socketModelList" :key="index">
            <div id="phone">


              <div
                style="position:absolute;top:0;left:0;height: 69px;width: 100%;text-align: center;line-height: 50px;font-size:20px;">

                <el-popover placement="right-end" title="数据" width="500" trigger="hover">

                  <span slot="reference" style="color:#F56C6C;"
                    v-if="item.messageList[0]&&timeToTimestamp(timeStr) - timeToTimestamp(item.messageList[0].split('--')[item.messageList[0].split('--').length-1]) > socketTimeOut*60*1000">{{phoneIdToNameList[item.phoneId] ? phoneIdToNameList[item.phoneId] : item.text}}</span>
                  <span slot="reference" style="color:#fff;" v-else>{{phoneIdToNameList[item.phoneId] ? phoneIdToNameList[item.phoneId] : item.text}}</span>
                  <div class="viewport first" style="height: 100vh;position:fixed;top:0;right:0;width: 50%;"
                    :id="['scrollView'+index]">
                    <div class="itemValue" v-for="(value,index) in item.messageList" :key="index">{{value}}</div>
                  </div>
                </el-popover>
              </div>



              <span style="font-size:12px;position:absolute;top:20px;left:16px;color:#fff;">{{timeStr}}</span>
              <span style="font-size:12px;position:absolute;bottom:28px;left:16px;color:#fff;">{{item.phoneId}}</span>

              <el-tooltip :content="item.show? '查看数据':'查看图片'" placement="top">
                <div style="position:absolute;right:20px;top:16px;">
                  <el-switch v-model="item.show" @change="sendMsgToPhone(item)" active-color="#E6A23C"
                    inactive-color="#409EFF">
                  </el-switch>
                </div>

              </el-tooltip>
              <div id="screen" :style="{width: item.show ? '240px': '100%'}" class="">
                <div class="viewport first" :id="['scrollView'+index]" v-if='!item.show'>
                  <div class="itemValue" v-for="(value,index) in item.messageList" :key="index">{{value}}</div>
                </div>
                <div v-else style="width:100%;height:100%;" v-loading="item.loading">
                  <div
                    style="position:absolute;top:-30px;width:150%;height:100%;transform: translateX(258px);z-index:1000;">
                    <div style="width:100%;">
                      <!-- <el-button type="success" @click="updateImg(item)"
                        style="width:100%;height:30px;width:100%;border-radius: 0;line-height: 6px;">更新图片</el-button> -->

                      <el-dropdown @command="handleCommand" style="width:100%;">
                        <el-button @click="updateImg(item)" type="success"
                          style="width:100%;height:30px;width:100%;border-radius: 0;line-height: 6px;">
                          <div style="position:relative;top:-4px;">
                            更新图片
                            <i class="el-icon-arrow-down el-icon--right"></i>
                          </div>

                        </el-button>

                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item :command="beforeHandleCommand(item,'截图')">更新图片</el-dropdown-item>
                          <el-dropdown-item :command="beforeHandleCommand(item,'自动截图')">自动更新图片</el-dropdown-item>
                          <el-dropdown-item :command="beforeHandleCommand(item,'清除')">清除当前数据</el-dropdown-item>
                        </el-dropdown-menu>
                      </el-dropdown>


                    </div>

                    <div class="viewport first" style="position:static;" :id="['scrollView'+index]"
                      style="background:rgba(0,0,0,.6);color:#fff;width: 100%;height:100%;">
                      <div class="itemValue" v-for="(value,index) in item.messageList" :key="index">{{value}}</div>
                    </div>
                    <el-dropdown @command="handleCommand" style="width:100%;">
                      <el-button type="primary"
                        style="width:100%;height:30px;width:100%;border-radius: 0;line-height: 6px;">
                        <div style="position:relative;top:-4px;">
                          下发指令
                          <i class="el-icon-arrow-down el-icon--right"></i>
                        </div>

                      </el-button>

                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item :command="beforeHandleCommand(item,'重启')">重启任务</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'养机')">停止任务去抖音养机</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'快速任务')">快速开始抖音任务</el-dropdown-item>
                        <!-- <el-dropdown-item :command="beforeHandleCommand(item,'快速快手任务')">快速开始快手任务</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'快速快手养机任务')">快速快手养机任务</el-dropdown-item> -->
                        <el-dropdown-item :command="beforeHandleCommand(item,'屏幕上滑')">往上滑动屏幕</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'屏幕下滑')">往下滑动屏幕</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'屏幕左滑')">往左滑动屏幕</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'屏幕右滑')">往右滑动屏幕</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'多任务')">多任务界面</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'返回主页')">返回主页</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'清除搜索缓存')">清除搜索缓存</el-dropdown-item>
                        <el-dropdown-item :command="beforeHandleCommand(item,'停止任务')">停止所有任务</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </div>

                  <!-- <el-popover
                      placement="top"
                      width="800"
                      trigger="hover"
                    >
                    <img :src="item.img" @click="clickImg($event,item)"
                    style="width: 500px;height: 800px;position:fixed;top:50%;right:0%;" alt=""/>
                      <template #reference>
                        <img :src="item.img" @click="clickImg($event,item)"
                           style="width:100%;height:100%;position:absolute;top:0;left:0;" alt=""/>
                      </template>
                    </el-popover> -->
                    
                    <img :src="item.img" @click="clickImg($event,item)"
                           style="width:100%;height:100%;position:absolute;top:0;left:0;" alt=""/>
                </div>
              </div>
            </div>
          </div>

        </div>
      </el-tab-pane>

      <el-tab-pane label="查看图片" name="second">
        <div style="display: flex;flex-wrap:wrap;">
          <div v-for="(item,index) in imgList" :key="index" style="width: 250px;margin: 16px;position:relative;">
            <div
              style="font-size: 16px;background:#232832;color:#fff;width: 250px;padding:10px 10px 4px 10px;box-sizing: border-box;">
              {{phoneIdToNameList[item.model.split('-')[item.model.split('-').length-1]] ? phoneIdToNameList[item.model.split('-')[item.model.split('-').length-1]] : item.model}} - {{item.appName}}</div>
            <!-- <div style="font-size: 16px;background:#232832;color:#fff;width: 250px;box-sizing: border-box;
            padding: 0px 10px 10px 10px;">{{item.time}}</div> -->

            <div style="font-size: 16px;background:#333;color:#fff;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);width: 200px;
            padding: 10px;
            border-radius: 4px;
            text-align: center;z-index: 10;">
              <!-- {{item.model}} - {{item.appName}} -->
              {{item.time}}
            </div>
            <img style="width: 250px;object-fit: contain;" :src="item.download_url"alt="">
            <!-- <el-image :preview-src-list="[item.download_url]" style="width: 250px;object-fit: contain;" :src="item.download_url" alt="" srcset=""> -->
            <!-- <el-image fit="contain" :preview-src-list="[item.download_url]" v-if="item.download_url" style="width: 250px;"
                    :src="item.download_url" alt="" srcset=""></el-image> -->
          </div>


        </div>

      </el-tab-pane>




    </el-tabs>


    <el-dialog title="输入token" :visible.sync="dialogVisible" width="30%" @close="dialogVisible = false">
      <el-input v-model="tokenData" placeholder="请输入内容"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirm">确 定</el-button>
      </span>
    </el-dialog>

  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          isOnline: false,
          loadingData: false,
          tokenData: '',
          dialogVisible: false,
          tableData: [],
          deviceId: '',
          timeList: [],
          modelList: [],
          activeName: 'first',
          imgList: [],
          today: '100',
          tableDataClone: [],
          timeListValue: '',
          appNameList: [],
          expandStatus: false,
          socketModelList: [],
          socket: null,
          timeStr: '',
          isListening: false,
          socketTimeOut: 10, // socket10分钟 检测报警
          socketTime: null,
          isConect: false,
          socketValuePhone: [],
          copySocketModelList: [],
          phoneIdToNameList: {
            "071882201":'vivoX23-坏屏幕',
            "531011851":'荣耀30',
            "131391382":'荣耀20',
            "371752232":'vivoX23-好屏幕',
            "692411262":'Mate20',
            "351912422":"Mate20Pro"
          },
          staySocketNum: 1500,
          imgNum: 100,// 预览的图片数
        }
      },
      methods: {
        changeOnline() {
          // console.log(this.socketModelList,this.isOnline)
          this.socketModelList = this.socketModelList.map(value => {
            value.display = false
            if (value.isOnline) {
              value.display = true
            }
            return value
          })

          if (this.isOnline == 0) {
            this.socketModelList = this.socketModelList.map(value => {
              value.display = true
              return value
            })
          }

        },
        changeItemPhone() {
          this.socketModelList = this.socketModelList.map(value => {
            value.display = false
            this.socketValuePhone.map(item => {
              if (value.phoneId == item) {
                value.display = true
              }
            })
            return value
          })

          if (this.socketValuePhone.length == 0) {
            this.socketModelList = this.socketModelList.map(value => {
              value.display = true
              return value
            })
          }


        },
        expandStatusFun() {
          var that = this;
          that.expandStatus = !that.expandStatus;
          //一级的展开和折叠
          that.tableData.forEach(function (item) {
            that.expandDataFun(item, that.expandStatus); //展开/折叠全部-数据处理
          });
        },
        //展开/折叠全部-逐行数据处理
        expandDataFun(row_item, status) {
          var that = this;
          that.$refs.el_Table.toggleRowExpansion(row_item, status);
          if (row_item.children != undefined && row_item.children != null) {
            //使用递归遍历每一级
            row_item.children.forEach(function (item) {
              that.expandDataFun(item, status); //展开/折叠全部-数据处理
            });
          }

        },
        changeTime(val) {
          let arr = []
          this.tableDataClone.map(value => {
            value.successAdList.map(item => {
              // console.log(item)
              item.lastLookTime = this.timestampToTime(item.time)
              arr.push(item)
            })

          })
          // console.log(arr,'dddddd')
          let newArr = []
          arr.map(value => {
            if (this.timestampToTime(value.time, true).indexOf(val) > -1) {
              newArr.push(value)
            }
          })
          let obj = {}
          let newArr1 = []

          newArr.map((value, index) => {
            value.successAdList = []
            value.newId = value.appName + value.phoneId
          })
          // console.log(newArr,'newArr1')

          newArr.map((value, index) => {

            if (!obj[value.newId]) {
              newArr1.push(value)
              obj[value.newId] = value.newId
            } else {
              newArr1.map(item => {
                if (item.newId == value.newId) {
                  item.successAdList.push(value)
                }
              })
            }
          })

          newArr1.map(value => {
            value.successAdList.unshift(value)
          })

          newArr1.map(value => {
            value.successAdList.map(item => {
              item.lastLookTime = item.time
              this.getImgSrc(item, true)
            })
          })
          // console.log(newArr1,'newArr1')

          if (!val) {
            this.tableData = this.tableDataClone
          } else {
            this.tableData = newArr1
          }

          this.setAPPNameList()

          // console.log(newArr,'dddddd')

        },
        changeDay(val) {
          // console.log(val, 'dddd')
          if (val == '100') {
            let arr = []
            this.tableData.map(value => {
              if (this.getTodayTime(value.time) == this.getTodayTime(new Date().getTime())) {
                arr.push(value)
              }
            })
            this.tableData = arr
          } else {
            this.tableData = this.tableDataClone
          }
          this.setAPPNameList()
        },
        setAPPNameList() {
          let obj = {}
          this.appNameList = []
          this.tableData.map(value => {
            if (!obj[value.appName]) {
              obj[value.appName] = value.appName
              this.appNameList.push({
                text: value.appName,
                value: value.appName
              })
            }
          })
        },
        getTodayTime(currentTime) {
          // if (autoUtils.getTodayTime(modedata.time) == autoUtils.getTodayTime(time.nowStamp())) {}
          // 提取年、月、日信息
          currentTime = Number(currentTime)
          const year = new Date(currentTime).getFullYear(); // 年份
          const month = new Date(currentTime).getMonth() + 1; // 月份（注意月份从0开始计数）
          const day = new Date(currentTime).getDate(); // 日期
          return year + '-' + month + '-' + day
        },
        filterHandler(value, row, column) {
          const property = column['property'];
          // console.log(this.timestampToTime(row[property]),value)
          return row[property].indexOf(value) > -1
        },
        filterModel(value, row, column) {
          const property = column['property'];
          return row[property].indexOf(value) > -1
        },
        filterModelName(value, row, column) {
          const property = column['property'];
          return row[property].indexOf(value) > -1
        },
        confirm() {
          if (this.tokenData) {
            // window.href = window.location.href + '?token=' + this.tokenData
            window.localStorage.setItem('tokenData', this.tokenData)
            window.localStorage.setItem('tokenData1', this.tokenData1)
            this.loadData()
          }
        },
        GetQueryString(name) {
          var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
          var r = window.location.search.substr(1).match(reg);
          if (r != null) {
            return unescape(r[2]);
          }
          return null;
        },
        timestampToTime(timestamp, year) {
          // 时间戳为10位需*1000，时间戳为13位不需乘1000
          var date = new Date(Number(timestamp));
          var Y = date.getFullYear() + "-";
          var M =
            (date.getMonth() + 1 < 10 ?
              "0" + (date.getMonth() + 1) :
              date.getMonth() + 1) + "-";
          var D = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " ";
          var h = (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ":";
          var m = (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) + ":";
          var s = (date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds());
          if (year) {
            return Y + M + D
          } else {
            return Y + M + D + h + m + s;
          }

        },
        getSummaries(param) {
          const {
            columns,
            data
          } = param;
          const sums = [];
          columns.forEach((column, index) => {
            if (index === 0) {
              sums[index] = '合计';
              return;
            }
            const values = data.map(item => Number(item[column.property]));
            if (!values.every(value => isNaN(value)) && column.property != 'phoneId' && column.property !=
              'lastLookTime') {
              sums[index] = values.reduce((prev, curr) => {
                const value = Number(curr);
                if (!isNaN(value)) {
                  return prev + curr;
                } else {
                  return prev;
                }
              }, 0);
              sums[index] += ' 个';
            } else {
              sums[index] = '--';
            }
          });

          return sums;
        },
        getImgSrc(value, isAd) {
          if (isAd) {
            value.time = value.lastLookTime
          }
          this.imgList.map(item => {
            if (value.time && value.appName.indexOf(item.appName) > -1 && item.model.indexOf(value.phoneId) > -
              1 && Math.abs(value.time - item.timeStr) < 5 * 60 * 1000) {
              value.img = item.download_url
            }
          })
        },
        uniqueAdArr(arr) {
          for (var i = 0; i < arr.length; i++) {
            for (var j = i + 1; j < arr.length; j++) {
              if (arr[i].phoneId == arr[j].phoneId) {
                arr.splice(j, 1);
                j--;
              }
            }
          }
          return arr;
        },
        uniqueAdNameArr(arr) {
          for (var i = 0; i < arr.length; i++) {
            for (var j = i + 1; j < arr.length; j++) {
              if (arr[i].appName == arr[j].appName) {
                arr.splice(j, 1);
                j--;
              }
            }
          }
          return arr;
        },
        getAppAdTime(name) {
          let adListData = this.tableData
          let nowTime = new Date().getTime();
          let appTime = 0 // 当前手机当前小程序
          let phoneTimeList = [0] // 当前手机不同小程序
          let otherPhoneTimeList = [0] // 其他手机的相同小程序
          let otherPhoneOtherAppList = [0] // 其他手机所有小程序
          let phoneId = '131391382'
          for (let i = 0; i < adListData.length; i++) {
            // let currentTime = adListData[i].lastLookTime
            let currentTime = new Date().getTime() - 60*60*1000
            if (phoneId == adListData[i].phoneId) {
              // autoUtils.logText("相同手机")
              if (name == adListData[i].appName) {
                // 当前手机 当前小程序 上一次观看时间
                appTime = currentTime
              } else {
                // 当前手机 不同小程序 上一次观看时间
                phoneTimeList.push(currentTime)
              }
            } else {
              if (name == adListData[i].appName) {
                // 其他手机 相同小程序 上一次观看时间
                otherPhoneTimeList.push(currentTime)
              } else {
                //其他手机 不相同小程序
                otherPhoneOtherAppList.push(currentTime)
              }
            }
          }
          // 大到小 就是 找到最近一次观看的时间
          let maxTime2 = phoneTimeList.sort((a, b) => b - a)[0]
          let maxTime3 = otherPhoneTimeList.sort((a, b) => b - a)[0]
          let maxTime4 = otherPhoneOtherAppList.sort((a, b) => b - a)[0]

          //括号里是当前时间距离上一次广告的时间  用标准时间-括号时间就是 剩余多长时间可以观看  数值越大 等待时间越长
          let AutoGlobDataBiaozhun1Value = 2 * 60 * 60 * 1000 - (nowTime - appTime)
          let AutoGlobDataBiaozhun2Value = 10 * 60 * 1000 - (nowTime - maxTime2)
          let AutoGlobDataBiaozhun3Value = 10 * 60 * 1000 - (nowTime - maxTime3)
          let AutoGlobDataBiaozhun4Value = 5 * 60 * 1000 - (nowTime - maxTime4)

          let maxAdTime = [AutoGlobDataBiaozhun1Value, AutoGlobDataBiaozhun2Value, AutoGlobDataBiaozhun3Value,
            AutoGlobDataBiaozhun4Value
          ]

          let leftTime = maxAdTime.sort((a, b) => b - a)[0]

          leftTime = leftTime > 0 ? leftTime : 0

          return leftTime
        },
        loadData() {
          let token = this.GetQueryString('token') ? this.GetQueryString('token') : localStorage.getItem(
            'tokenData')
          if (token) {
            this.tokenData = token
            axios({
              url: `https://gitee.com/api/v5/gists/cw6jlqnhio24pdru0vk1390?access_token=${token}`,
              type: 'GET', // 或者 'POST'，取决于你的请求方式
            }).then(res => {
              // console.log(res, 'aaaa')
              this.tableData = JSON.parse(res.data.files.douyin.content)
              // console.log(this.getAppAdTime('优创汇'),'剩余时间')
              let cloneData = JSON.parse(JSON.stringify(this.tableData))
              this.modelList = this.uniqueAdArr(cloneData).map(value => {
                // value.text = value.model+"("+value.phoneId+")"
                value.text = (this.phoneIdToNameList[value.phoneId] ? this.phoneIdToNameList[value.phoneId]: value.model) + `(${value.phoneId})`
                value.value = value.phoneId
                return value
              })



              let socketList = localStorage.getItem('socketModelList')
              // console.log("TCL: socketList -> ", socketList)
              if (!socketList) {
                this.socketModelList = this.modelList.map(value => {
                  return {
                    text: value.text,
                    phoneId: value.phoneId,
                    messageList: [],
                    show: false,
                    img: '',
                    isOnline: false
                  }
                })
              } else {
                this.socketModelList = JSON.parse(socketList)
              }

              setTimeout(() => {
                this.socketModelList.map((value, index) => {
                  let objDiv = document.getElementById("scrollView" + index);
                  // objDiv.scrollTop = objDiv.scrollHeight;
                  // if (objDiv) {
                  //   objDiv.scrollTop = 0;
                  // }
                })
              }, 3000)
              this.socketModelList = this.socketModelList.map(value => {
                value.show = false
                value.loading = false
                value.img = ''
                value.display = true
                value.isOnline = false
                return value
              })

              localStorage.setItem('socketModelList', JSON.stringify(this.socketModelList))


              this.tableData.map(value => {
                // console.log(value.lastLookTime)
                value.time = value.lastLookTime
                // value.lastLookTime = this.timestampToTime(value.lastLookTime) || '--'
                this.getImgSrc(value)
                value.successAdList.map(ITEM => {
                  // console.log(ITEM,'ddd')
                  this.getImgSrc(ITEM, true)
                })
                value.successAdList = value.successAdList.sort((a, b) => b.time - a.time)
                // this.imgList.map(item => {
                //   if(value.time&&value.appName.indexOf(item.appName)>-1&&item.model.indexOf(value.phoneId)>-1&&value.time - item.timeStr < 10*60*1000) {
                //     value.img = item.download_url
                //   }
                // })
              })

              this.setAPPNameList()

              this.tableDataClone = this.tableData
              this.changeDay('100')
              this.deviceId = res.data.id
              this.dialogVisible = false

              this.initWebsocket()


              // this.activeName = 'first'

            }).catch(error => {
              console.log(error)
              this.$message.error(error.message)
              this.dialogVisible = true
            })
          } else {
            this.dialogVisible = true
          }
        },
        getPinYin(name) {
          if (name.indexOf('luoxue') > -1) {
            return '洛雪'
          } else if (name.indexOf('yunfan') > -1) {
            return '云帆'
          } else if (name.indexOf('haitun') > -1) {
            return '海豚'
          } else if (name.indexOf('ningmeng') > -1) {
            return '柠檬'
          } else if (name.indexOf('chengzi') > -1) {
            return '橙子'
          } else if (name.indexOf('fanqie') > -1) {
            return '番茄'
          } else if (name.indexOf('juzi') > -1) {
            return '橘子'
          } else if (name.indexOf('xiongmao') > -1) {
            return '熊猫'
          } else if (name.indexOf('xigau') > -1) {
            return '西瓜'
          } else if (name.indexOf('youchuang') > -1) {
            return '优创汇'
          } else if (name.indexOf('shuzi') > -1) {
            return '数字大挑战'
          } else {
            return '洛雪'
          }
        },
        loadImg() {
          this.loadingData = true
          let token = this.GetQueryString('token') ? this.GetQueryString('token') : localStorage.getItem(
            'tokenData')
          axios({
            url: `https://gitee.com/api/v5/repos/pjmgit/ad-pic/contents/picList`,
            type: 'GET', // 或者 'POST'，取决于你的请求方式
            params: {
              access_token: token
            }
          }).then(res => {
            this.loadingData = false
            // res.data = res.data.slice(0,this.imgNum)

            // this.imgList = res.data
            res.data = res.data.map(value => {
              let str = value.name.split('.jpg')[0]
              let str1 = str.split('-')
              let time = str1[str1.length - 1]
              let name = str1[str1.length - 2]
              let model = str.split('-' + name)[0]
              value.time = this.timestampToTime(time)
              value.appName = this.getPinYin(name)
              value.model = model
              value.timeStr = time
              return value
            })

            res.data = res.data.sort((a, b) => b.timeStr - a.timeStr)

            // res.data = res.data.slice(0,this.imgNum)

            this.imgList = res.data

            this.loadData()
          }).catch(error => {})
        },
        timeToTimestamp(str) {
          var timeString = str; // 时分秒字符串
          var currentDate = new Date(); // 当前日期对象
          var timeArray = timeString.split(':'); // 将时分秒字符串拆分为数组
          currentDate.setHours(timeArray[0], timeArray[1], timeArray[2]); // 设置当前日期的时分秒
          var timestamp = currentDate.getTime(); // 获取时间戳
          return timestamp
        },
        beforeHandleCommand(item, command) {
          return {
            'item': item,
            'command': command
          }
        },
        clearData () {
          this.socketModelList = this.socketModelList.map(value => {
            value.messageList = []
            return value
          })
          localStorage.setItem('socketModelList', JSON.stringify(this.socketModelList))
        },
        handleCommand(command) {
          if (command.command == '重启') {
            this.restartTask(command.item)
          } else if (command.command == '养机') {
            this.socket.send(command.item.phoneId + '@养机');
          } else if (command.command == '快速任务') {
            this.socket.send(command.item.phoneId + '@快速任务');
          }else if (command.command == '快速快手任务') {
            this.socket.send(command.item.phoneId + '@快速快手任务');
          } else if (command.command == '停止任务') {
            this.socket.send(command.item.phoneId + '@停止任务');
          } else if (command.command == '截图') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@请求截图')
          } else if (command.command == '自动截图') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@请求截图1')
          } else if (command.command == '清除') {
            command.item.messageList = []
          } else if (command.command == '屏幕下滑') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@屏幕下滑')
          } else if (command.command == '屏幕左滑') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@屏幕左滑')
          } else if (command.command == '屏幕右滑') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@屏幕右滑')
          } else if (command.command == '多任务') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@多任务')
          }else if (command.command == '返回主页') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@返回主页')
          }else if (command.command == '清除搜索缓存') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@清除搜索缓存')
          } else if (command.command == '屏幕上滑') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@屏幕上滑')
          }else if (command.command == '快速快手养机任务') {
            command.item.loading = true
            this.sendSocketMsg(command.item, '@快速快手养机任务')
          } else {
            this.$message.warning('功能开发中')
          }
        },
        restartTask(item) {
          // item.loading = true
          this.socket.send(item.phoneId + '@重启任务');
          // if (this.socket.readyState === this.socket.OPEN) {
          // } else {
          //   console.error('WebSocket is not connected.');
          // }
        },
        handleClick(tab, event) {

          // if (tab.name == 'second' && this.imgList.length == 0) {
          //   console.log(tab)
          //   this.loadImg()
          // }
          // if (tab.name == 'three') {
          //   this.initWebsocket()
          // }
        },
        displayTime() {
          var currentTime = new Date();
          var hours = currentTime.getHours() < 10 ? '0' + currentTime.getHours() : currentTime.getHours();
          var minutes = currentTime.getMinutes() < 10 ? '0' + currentTime.getMinutes() : currentTime.getMinutes();
          var seconds = currentTime.getSeconds() < 10 ? '0' + currentTime.getSeconds() : currentTime.getSeconds();
          var timeString = hours + ":" + minutes + ":" + seconds;
          this.timeStr = timeString
        },
        setDataSocket(data) {
          // console.log("TCL: setDataSocket -> ", data)
          let message = data.split('@')
          let model = message[0]
          let str = message[1]

          // console.log(this.socketModelList,model,'ddd')
          let flag = false
          this.socketModelList.map(value => {
            if (value.phoneId == model) {
              flag = true
            }
          })
          if (!flag) {
            this.socketModelList.push({
              messageList: [],
              phoneId: model,
              display: true,
              img: '',
              isOnline: true,
              loading: false,
              show: true,
              text: '未命名'
            })
          }
          this.socketModelList = this.socketModelList.map((value, index) => {
            if (value.phoneId == model) {
              value.isOnline = true
            }
            if (value.phoneId == model && str != '这是图片' && str != '请求截图' && str != '停止截图' && str != '请求点击') {
              value.messageList.unshift(str)
              if(value.messageList.length>this.staySocketNum) {
                value.messageList = value.messageList.slice(0,this.staySocketNum)
              }
            }
            if (value.phoneId == model && str == '这是图片') {
              let img = message[2]
              value.img = img
              value.loading = false
            }
            let objDiv = document.getElementById("scrollView" + index);
            // objDiv.scrollTop = objDiv.scrollHeight;
            // if (objDiv) {
            //   objDiv.scrollTop = 0;
            // }
            return value
          })

          localStorage.setItem('socketModelList', JSON.stringify(this.socketModelList))
        },
        sendSocketMsg(item, str) {
          item.loading = true
          setTimeout(() => {
            item.loading = false
          }, 3500)
          this.socket.send(item.phoneId + str);
        },
        sendMsgToPhone(item) {
          console.log("点击了")
          // item.show = !item.show

          if (item.show) {
            this.sendSocketMsg(item, '@请求截图')
            // item.loading = true
            // this.socket.send(item.phoneId+'@请求截图');
          } else {
            this.socket.send(item.phoneId + '@停止截图');
          }
        },
        updateImg(item) {
          item.loading = true
          this.sendSocketMsg(item, '@请求截图')
          // this.socket.send(item.phoneId+'@请求截图');
          // if (this.socket.readyState === this.socket.OPEN) {
          // } else {
          //   console.error('WebSocket is not connected.');
          // }
        },
        clickImg(event, item) {
          const rect = event.target.getBoundingClientRect();
          const x = event.clientX - rect.left; // 点击位置相对于图片的x坐标
          const y = event.clientY - rect.top; // 点击位置相对于图片的y坐标
          const scaleX = x / event.target.width; // 点击位置相对于图片宽度的百分比
          const scaleY = y / event.target.height; // 点击位置相对于图片高度的百分比

          // console.log(`X: ${scaleX.toFixed(2)}, Y: ${scaleY.toFixed(2)}`);
          this.sendSocketMsg(item, '@请求点击@' + `${scaleX.toFixed(2)},${scaleY.toFixed(2)}`)
          // this.socket.send(item.phoneId+'@请求点击@'+`${scaleX.toFixed(2)},${scaleY.toFixed(2)}`);
          // item.loading = true

        },
        reconectSocket() {
          let that = this
          const RECONNECT_INTERVAL = 5000; // 5秒
          clearTimeout(this.socketTime)
          if (this.socket.readyState === this.socket.OPEN) {
            console.log('websocket已连接')
          } else {
            console.error('WebSocket is not connected.');
            this.socketTime = setTimeout(function () {
              console.log('正在重连...');
              that.socket = null
              that.initWebsocket(); // 尝试重新连接
            }, RECONNECT_INTERVAL);
          }


        },
        initWebsocket() {
          // 重连间隔设置

          if (this.isConect) {
            return;
          }
          if (window.WebSocket) {
            console.log("此浏览器支持WebSocket的！");
          } else {
            console.log("This browser does not support WebSocket.");
          }


          // this.socket = new ws('wss://xztwf4-3001.csb.app')
          // http://140.143.153.128:30001/
          // this.socket = new ws('ws://jiaming1.serv00.net:30001')
          this.socket = new ws('ws://140.143.153.128:30001')
          // this.socket = new ws('ws://127.0.0.1:3001')
          var str = "开始连接中";

          let that = this
          if (!that.isListening) {

            this.socket.onconnecting = function (evn) {
              console.log("socket:onconnecting:", evn);
              // sendMsg("wcj");

            }

            this.socket.onopen = function (evn) {
              console.log("连接成功了");
              that.isConect = true
              // console.log('发了个消息！"' + str + '"');
              // sendMsg(str);

            }

            this.socket.onclose = function (evn) {
              console.log("socket.onclose:", evn);
              console.log('WebSocket 被你关闭了！，您老人家再也没有办法建立连接了?');
              that.isConect = false
              that.reconectSocket()
            }

            this.socket.onmessage = function (evn) {
              // console.log("socket:onmessage:", evn);
              // that.img = evn.data+''

              that.setDataSocket(evn.data + '')
              // console.log('收到消息！"' + evn.data + '"');
              // socket.close()

            }
            that.isListening = true
          }

          function sendMsg(str) {
            console.log("socket:sendMsg:");
            this.socket.send(str);
          }
        }
      },
      mounted() {
        setInterval(this.displayTime, 1000);
        let today = new Date().getTime()
        let that = this

        function getDay(time) {
          return that.timestampToTime(time, true)
        }
        for (var i = 0; i < 8; i++) {
          this.timeList.push({
            text: getDay(today - (i) * (24 * 60 * 60 * 1000), true),
            value: getDay(today - (i) * (24 * 60 * 60 * 1000), true)
          })
        } 
        // this.loadData()

        this.loadImg()

      },
    })
  </script>
</body>

</html>